* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center; /* Center align everything in the container */
}

h1 {
    margin-bottom: 20px;
    padding: 4px;
    font-size: 2rem;
    color: #333;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left;
    color: #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.register-button {
    background-color: rgb(3, 203, 248);
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
    background-color: #00bfff;
    transform: scale(1.05);
}

.container small {
    display: block;
    margin-top: 10px;
    color: #999;
}
